<% if @user.errors.any? %>
  <div class="toast toast-error">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
<% end %>

<%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :username, "Username", class: "form-label" %>
    <%= f.text_field :username, class: "form-input" %>

    <%= f.label :email, "Email", class: "form-label" %>
    <%= f.text_field :email, class: "form-input" %>

    <%= f.label :password, "Password", class: "form-label" %>
    <%= f.password_field :password, class: "form-input" %><br>

    <%= f.submit 'Sign Up', class: "btn btn-primary" %>
  </div>
<% end %>