<% if @restaurant.errors.any? %>
  <div id="toast toast-error">
    <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @restaurant do |f| %>
  <div class="form-group">
    <%= f.label :name, "Name", class: "form-label" %>
    <%= f.text_field :name, class: "form-input" %><br />

    <%= f.label :logo, "Logo", class: "form-label" %>
    <%= f.text_field :logo, placeholder: "imgur.com/G4295Olk", class: "form-input" %><br />

    <%= f.submit 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>