<img src="<%= @photo.url %>" />
<p><%= @photo.description %></p>
<p>Rating: <%= @photo.rating %></p>
<%= link_to @photo.restaurant.name, restaurant_path(@photo.restaurant) %>

<% if current_user.photos.include?(@photo) %>
  <%= link_to 'Edit Photo', edit_photo_path(@photo) %>
<% end %>